version: '3.8'

services:
  broker:
    build: ./broker
    container_name: aklight-broker
    ports:
      - "9092:9092"
    networks:
      - aklight-network

  producer:
    build:
      context: .
      dockerfile: producer/Dockerfile
    container_name: aklight-producer
    depends_on:
      - broker
    command: ["./producer", "broker", "9092", "metrics/container1", "0", "1"]
    networks:
      - aklight-network

  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    container_name: aklight-consumer
    depends_on:
      - broker
    command: ["./consumer", "broker", "9092", "metrics/#"]
    networks:
      - aklight-network

networks:
  aklight-network:
    driver: bridge
